{% extends 'blog/base.html' %}


{% block content %}
<div class="classes-container">
    <h1 class="heading-1">Classes</h1>
    <div class="classes">
        <div class="class class-kids">
            <div class="class-header">
                <h1 class="class-type">Kids Classes</h1>
                <div class="class-info">
                    <h1 class="class-location">Bowmar Community Centre</h1>
                    <h1 class="class-price">£3.00</h1>
                </div>
            </div>
            <p class="class-description">Give your child the resources to
                achieve their boxing
                goals. Please let us know of any health issues your child suffers from before they start,
                and make sure they bring a water bottle and suitable clothing.</p>

            <div class="timetable">
                <h1>Times</h1>
                <div class="time">
                    <ul class="time-weekday">
                        <li class="day">Monday</li>
                        <li class="day">Tuesday</li>
                        <li class="inactive">Wednesday</li>
                        <li class="day">Thursday</li>
                        <li class="day">Friday</li>
                        <li class="day">Saturday</li>
                        <li class="inactive">Sunday</li>
                    </ul>
                    <ul class="time-hours">
                        <li>6-7pm</li>
                        <li>6-7pm</li>
                        <li class="inactive">-</li>
                        <li>6-7pm</li>
                        <li>6-7pm</li>
                        <li>10-10:45am</li>
                        <li class="inactive">-</li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="class class-adults">
            <div class="class-header">
                <h1 class="class-type">Adults Classes (14+)</h1>
                <div class="class-info">
                    <h1 class="class-location">Bowmar Community Centre</h1>
                    <h1 class="class-price">£3.00</h1>
                </div>
            </div>
            <p class="class-description">The best time to start boxing was as a child, the second best time is now.
                Please let us know of any health issues you suffer from before you start. Bring a water bottle and
                suitable clothing. </p>

            <div class="timetable">
                <h1>Times</h1>
                <div class="time">
                    <ul class="time-weekday">
                        <li class="day">Monday</li>
                        <li class="day">Tuesday</li>
                        <li class="day">Wednesday</li>
                        <li class="day">Thursday</li>
                        <li class="day">Friday</li>
                        <li class="inactive">Saturday</li>
                        <li class="inactive">Sunday</li>

                    </ul>
                    <ul class="time-hours">
                        <li>7-9pm</li>
                        <li>7-9pm</li>
                        <li>7-9pm</li>
                        <li>7-9pm</li>
                        <li>7-9pm</li>
                        <li class="inactive">-</li>
                        <li class="inactive">-</li>

                    </ul>
                </div>
            </div>


        </div>
        <div class="class class-circuit">
            <div class="class-header">
                <h1 class="class-type">Circuit Classes</h1>
                <div class="class-info">
                    <h1 class="class-location">Bowmar Community Centre</h1>
                    <h1 class="class-price">£3.00</h1>
                </div>
            </div>
            <p class="class-description">Our circuit classes will ensure that you feel a difference.
                Please let us know of any health issues you suffer from before you start. Bring a water bottle and
                suitable clothing. </p>

            <div class="timetable">
                <h1>Times</h1>
                <div class="time">
                    <ul class="time-weekday">
                        <li class="day">Monday</li>
                        <li class="day">Tuesday</li>
                        <li class="day">Wednesday</li>
                        <li class="day">Thursday</li>
                        <li class="day">Friday</li>
                        <li class="inactive">Saturday</li>
                        <li class="inactive">Sunday</li>
                    </ul>
                    <ul class="time-hours">
                        <li>9:20-10.20pm</li>
                        <li>9:20-10.20pm</li>
                        <li>9:20-10.20pm</li>
                        <li>9:20-10.20pm</li>
                        <li>9:20-10.20pm</li>
                        <li class="inactive">-</li>
                        <li class="inactive">-</li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="class class-womens">
            <div class="class-header">
                <h1 class="class-type">Women Only Classes</h1>
                <div class="class-info">
                    <h1 class="class-location">Bowmar Community Centre</h1>
                    <h1 class="class-price">£3.00</h1>
                </div>
            </div>
            <p class="class-description">We want to provide a comfortable environment for ladies looking to get
                involved in
                boxing.
                Please let us know of any health issues you suffer from before you start. Bring a water bottle and
                suitable clothing. </p>

            <div class="timetable">
                <h1>Times</h1>
                <div class="time">
                    <ul class="time-weekday">
                        <li class="day">Monday</li>
                        <li class="day">Tuesday</li>
                        <li class="day">Wednesday</li>
                        <li class="day">Thursday</li>
                        <li class="day">Friday</li>
                        <li class="inactive">Saturday</li>

                        <li class="inactive">Sunday</li>
                    </ul>
                    <ul class="time-hours">
                        <li>9:20-10.20pm</li>
                        <li>9:20-10.20pm</li>
                        <li>9:20-10.20pm</li>
                        <li>9:20-10.20pm</li>
                        <li>9:20-10.20pm</li>
                        <li class="inactive">-</li>
                        <li class="inactive">-</li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
    <div class="personal-training">
        <h1 class="heading-1">Personal Training</h1>
        <p>Personal training is available every week day from 10:20AM - 6PM.</p>
        <p>Please <a href="/contact" class="text-btn">Contact us</a> for further details.</p>
    </div>
</div>
{% endblock %}