{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<h1 class="heading-1">COACHES</h1>
<div class="coaches">
    <div class="coaches-card">
        <div class="coaches-card__img">
            <img src="{% static 'img/johnwhyte.png' %}" alt="coach picture">
        </div>
        <div class="coaches-card__content">
            <div class="coaches-card__content--header">
                <h1 class="coaches-card__name">
                    <span>John</span>Whyte
                </h1>
            </div>

            <p class="coaches-card__bio">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae voluptatibus dolore hic consectetur
                eveniet
                ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, tempore.
            </p>
        </div>

    </div>
    <div class="coaches-card">
        <div class="coaches-card__img">
            <img src="{% static 'img/johnwhyte.png' %}" alt="coach picture">
        </div>
        <div class="coaches-card__content">
            <div class="coaches-card__content--header">
                <h1 class="coaches-card__name">
                    <span>John</span>Whyte
                </h1>
            </div>
    
            <p class="coaches-card__bio">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae voluptatibus dolore hic consectetur
                eveniet
                ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, tempore.
            </p>
        </div>
    
    </div>
    <div class="coaches-card">
        <div class="coaches-card__img">
            <img src="{% static 'img/johnwhyte.png' %}" alt="coach picture">
        </div>
        <div class="coaches-card__content">
            <div class="coaches-card__content--header">
                <h1 class="coaches-card__name">
                    <span>John</span>Whyte
                </h1>
            </div>
    
            <p class="coaches-card__bio">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae voluptatibus dolore hic consectetur
                eveniet
                ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, tempore.
            </p>
        </div>
    
    </div>
    <div class="coaches-card">
        <div class="coaches-card__img">
            <img src="{% static 'img/johnwhyte.png' %}" alt="coach picture">
        </div>
        <div class="coaches-card__content">
            <div class="coaches-card__content--header">
                <h1 class="coaches-card__name">
                    <span>John</span>Whyte
                </h1>
            </div>
    
            <p class="coaches-card__bio">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae voluptatibus dolore hic consectetur
                eveniet
                ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, tempore.
            </p>
        </div>
    
    </div>
    <div class="coaches-card">
        <div class="coaches-card__img">
            <img src="{% static 'img/johnwhyte.png' %}" alt="coach picture">
        </div>
        <div class="coaches-card__content">
            <div class="coaches-card__content--header">
                <h1 class="coaches-card__name">
                    <span>John</span>Whyte
                </h1>
            </div>
    
            <p class="coaches-card__bio">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae voluptatibus dolore hic consectetur
                eveniet
                ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, tempore.
            </p>
        </div>
    
    </div>
</div>
{% endblock %}