{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<h1 class="heading-1">COACHES</h1>
<div class="coaches">
    <div class="coaches-card">
        <div class="coaches-card__img">
            <img src="{% static 'img/johnwhyte.png' %}" alt="coach picture">
        </div>
        <div class="coaches-card__content">
            <div class="coaches-card__content--header">
                <h1 class="coaches-card__name">
                    <span>John</span>Whyte
                </h1>
            </div>

            <p class="coaches-card__bio">
                John has been a part of Alloa boxing club since 1997 and had his first bout at 15 years of age. John
                retired from
                competitive boxing after 84 bouts to concentrate on coaching. John has an impressive record, winning
                Scottish, Eastern
                and School Boy titles during his career. He has now been coaching for over 8 years.
            </p>
        </div>

    </div>
    <div class="coaches-card">
        <div class="coaches-card__img">
            <img src="{% static 'img/kellywhalen.png' %}" alt="coach picture">
        </div>
        <div class="coaches-card__content">
            <div class="coaches-card__content--header">
                <h1 class="coaches-card__name">
                    <span>Kelly</span>Whalen
                </h1>
            </div>

            <p class="coaches-card__bio">
                Kelly started boxing at the age of 38. Kelly was always into fitness and wanted to give boxing a try.
                Once she did there
                was no going back, winning the Scottish Novice title and winning 5 out of her 6 bouts before she hit the
                maximum age
                limit. Although she had to retire from competitive fighting she still loved the sport so she decided to
                get into
                coaching to help encourage more females to get involved with boxing.
            </p>
        </div>

    </div>
    <div class="coaches-card">
        <div class="coaches-card__img">
            <img src="{% static 'img/steviebernard.png' %}" alt="coach picture">
        </div>
        <div class="coaches-card__content">
            <div class="coaches-card__content--header">
                <h1 class="coaches-card__name">
                    <span>Stevie</span>Bernard
                </h1>
            </div>

            <p class="coaches-card__bio">
                Stevie has been at the club since 1998. He first started boxing just to keep fit at the age of 28 but
                soon got the bug
                for it and went on to have 15 fights winning a silver medal in the Scottish Championships.
            </p>
        </div>

    </div>
    <div class="coaches-card">
        <div class="coaches-card__img">
            <img src="{% static 'img/smith2.png' %}" alt="coach picture">
        </div>
        <div class="coaches-card__content">
            <div class="coaches-card__content--header">
                <h1 class="coaches-card__name">
                    <span>George</span>Smith
                </h1>
            </div>

            <p class="coaches-card__bio">
                George started coaching when both his boys began boxing for Alloa. He’s been here since 2010 and helps
                out with the
                senior classes. His youngest son Dylan still boxes for Alloa.
            </p>
        </div>

    </div>
    <div class="coaches-card">
        <div class="coaches-card__img">
            <img src="{% static 'img/whyte2.png' %}" alt="coach picture">
        </div>
        <div class="coaches-card__content">
            <div class="coaches-card__content--header">
                <h1 class="coaches-card__name">
                    <span>Kelly</span>Whyte
                </h1>
            </div>

            <p class="coaches-card__bio">
                Kelly has always been involved with boxing, following her husband John through his amateur career. She
                took over the
                role of Child Protection Officer a few years back and has been a major force behind the scenes,
                tirelessly organising
                fundraising activities and carrying out admin duties for the club.
            </p>
        </div>

    </div>
    <div class="coaches-card">
        <div class="coaches-card__img">
            <img src="{% static 'img/reid.png' %}" alt="coach picture">
        </div>
        <div class="coaches-card__content">
            <div class="coaches-card__content--header">
                <h1 class="coaches-card__name">
                    <span>Alan</span>Reid
                </h1>
            </div>

            <p class="coaches-card__bio">
                Alan started boxing at the age of 13 and had over 20 fights before hanging up his gloves. Alan left
                boxing for a couple
                of years but returned to start keeping fit. He started coaching at the club in 2014.
            </p>
        </div>

    </div>
</div>
{% endblock %}