{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<h1 class="heading-1">COACHES</h1>
<div class="profiles-container">

    <!-- {% for coach in coaches %}


    <a href="{% url 'coach_profile' pk=coach.pk %}" class="profile-card">

        <div class="profile-card__img">
            <img src="{{ coach.picture.url }}" alt="fighter profile picture">
        </div>
        <div class="profile-card__content">
            <div class="name-container ">
                <h1 class="profile-card__name profile-card__name--forename">{{ coach.forename }}</h1>
                <h1 class="profile-card__name profile-card__name--surname">{{ coach.surname }}</h1>
            </div>
            <div class="container">
                <div class="profile-card__btn">VIEW PROFILE <img src="{% static 'img/arrow-right.svg' %}"></div>
            </div>

        </div>
    </a>
    {% endfor %} -->

</div>
{% endblock %}