{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<h1 class="heading-1">Sponsorship Packages</h1>
<div class="sponsor-container">
    <div class="cta-container">
        <h2 class="sponsor-subheading">
            We offer a variety of sponsorship packages so that you can promote your business and do your part to
            support
            our club.
        </h2>
        <h2 class="sponsor-cta">
            Interested? <a href="contact" class="sponsor-btn">Contact us</a>
        </h2>
    </div>

    <div class="sponsor-packages">
        <div class="sponsor-package sponsor-package--gold">
            <div class="sponsor-package-heading sponsor-package-heading__gold">
                <h1>The</h1>
                <h1 class="sponsor-package-heading--gold">Gold</h1>
                <h1>Package</h1>
            </div>
            <div class="sponsor-package-features">
                <ul>
                    <li>1 Year Free Gym Sessions for 1</li>
                    <li>Home Show Marketing and Advertising</li>
                    <li>Club Website & Social Media Advertising</li>
                    <li>Logo on Coach Shirts, Walls and Programs</li>
                    <li>Two Complimentary Tickets per Home Show</li>

                </ul>
            </div>
            <div class="sponsor-package-price">
                <h1>£1000</h1>
                <h2>per year</h2>
            </div>
        </div>
        <div class="sponsor-package sponsor-package--silver">
            <div class="sponsor-package-heading sponsor-package-heading__silver ">
                <h1>The</h1>
                <h1 class="sponsor-package-heading--silver">Silver</h1>
                <h1>Package</h1>
            </div>
            <div class="sponsor-package-features">
                <ul>
                    <li>2 Months Unlimited Free Gym Sessions for 1</li>
                    <li>Home Show Marketing and Advertising</li>
                    <li>Club Website & Social Media Advertising</li>
                    <li>Logo on Coach Shirts, Walls and Programs</li>
                    <li>4 Complimentary Tickets per Home Show</li>

                </ul>
            </div>
            <div class="sponsor-package-price">
                <h1>£500</h1>
                <h2>per year</h2>
            </div>
        </div>
        <div class="sponsor-package sponsor-package--bronze">
            <div class="sponsor-package-heading sponsor-package-heading__bronze">
                <h1>The</h1>
                <h1 class="sponsor-package-heading--bronze">Bronze</h1>
                <h1>Package</h1>
            </div>
            <div class="sponsor-package-features">
                <ul>
                    <li>1 Months Unlimited Free Gym Sessions for 1</li>
                    <li>Home Show Marketing</li>
                    <li>Club Website & Social Media Advertising</li>
                    <li>Logo on Coach Tops & Fight Programs</li>
                    <li>1 Complimentary Tickets per Home Show</li>

                </ul>
            </div>
            <div class="sponsor-package-price">
                <h1>£250</h1>
                <h2>per year</h2>
            </div>
        </div>
        <div class="sponsor-package">
            <div class="sponsor-package-heading">
                <h1>Bout</h1>
                <h1>at the</h1>
                <h1>Home Show</h1>
            </div>
            <div class="sponsor-package-features">
                <ul>
                    <li>1 Months Unlimited Free Gym Sessions for 1</li>
                    <li>Mention from MC before and after bout</li>
                    <li>Club Website & Social Media Advertising</li>
                    <li>Logo on Coach Tops & Fight Programs</li>
                    <li>1 Complimentary Ticket per Home Show</li>
                </ul>
            </div>
            <div class="sponsor-package-price">
                <h1>£150</h1>
                <h2>per show</h2>
            </div>
        </div>
        <div class="sponsor-package">
            <div class="sponsor-package-heading">
                <h1>Boxer</h1>
                <h1>for a</h1>
                <h1>Season</h1>
            </div>
            <div class="sponsor-package-features">
                <ul>
                    <li>Helps pay for medical fees and club kit</li>
                    <li>Helps pay to register the boxer</li>
                    <li>Logo on player profile & kit</li>
                    <li>Club Website & Social Media Advertising</li>
                    <li>Logo on Fight Programs</li>

                </ul>
            </div>
            <div class="sponsor-package-price">
                <h1>£150</h1>
                <h2>per season</h2>
            </div>
        </div>
        <div class="sponsor-package">
            <div class="sponsor-package-heading">
                <h1>Boxer</h1>
                <h1>at the</h1>
                <h1>Home Show</h1>
            </div>
            <div class="sponsor-package-features">
                <ul>
                    <li>Helps pay for show expenses</li>
                    <li>Mention from MC before and after bout</li>
                    <li>Club Website & Social Media Advertising</li>
                    <li>Logo on Coach Tops & Fight Programs</li>
                    <li>1 Complimentary Ticket per Home Show</li>

                </ul>
            </div>
            <div class="sponsor-package-price">
                <h1>£75</h1>
                <h2>per show</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}